div {
	background-color: white;
}
body {
	background-image: url(resource/sky.jpg);
	background-size: 1400px 800px;
	background-repeat: no-repeat; 
}


div #cat-1 {
   background-color: #fafaf0; 
}
#cat-1:hover {
   background-color: #bdf; 
}
div #cat-2 {
	background-color: ##fafaff; 	
}
#cat-2:hover {
	background-color: #bdf;
}
div #cat-3 {
   background-color: #fafaff; 
}
#cat-3:hover {
   background-color: #bdf; 
}
div #cat-4 {
	background-color: ##fafaff; 	
}
#cat-4:hover {
	background-color: #bdf;
}
div #cat-5 {
	background-color: ##fafaff; 	
}
#cat-5:hover {
	background-color: #bdf;
}